---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"writing">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="body">
		<main class="m0 w-full">
			<article>
				<div class="sm:w-full md:w-60% m-a p1em">
					<div class="mb4 text-center lh-none">
						<div class="mb2 color-subtext0">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="font-italic">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
